<h1>Volunteer</h1>
<form>
  <input type="hidden" name="referrer">
  Name: <input type="text" id="fieldName" name="name"><br>
  Skills: <input type="text" name="skills"><br>
  Email: <input type="email" name="email"><br>
  <input type="submit" value="Volunteer">
</form>
<script>
  $(document).ready(function() {
    $('input[name="referrer"]').val(document.referrer);
  });
</script>